PORT=8080
DATABASE_URL=database url from neon
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=logpilot
REDIS_DB=0
REDIS_KEY_SECRET=openssl rand -hex 32 or use a something to generate a secret key 
CLERK_SECRET_KEY=your clerk env secret 